<div class="sa4d25 profilePage">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-12">

        <h2 class="st_title"><i class="icon-pencil2"></i> {{"Personal information"|translate}}</h2>
        <!-- <div class="info">
          <img src="assets/images/hd_dp.jpg" alt="">
          <p>Moahmed Ahemed</p>
        </div> -->
        <div class="row">
          <div class="col-12">
            <div class="alert alert-danger" role="alert"
                *ngIf="showInfoErrors && profileForm.invalid">
                <span *ngIf="profileForm.get('first_name').invalid"> {{"*Please enter  first name" | translate}}</span><br>
                <span *ngIf="profileForm.get('last_name').invalid"> {{"*Please enter last name" | translate}}</span><br>
              
            </div>
        </div>
          <form [formGroup]="profileForm">
          <div class="col-md-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="ui search focus mt-20">
                  <div class="ui left icon input swdh11 swdh19">
                    <label>{{"First Name"|translate}}</label>
                    <input class="prompt srch_explore" type="text" required maxlength="64"
                      placeholder="{{'First Name' | translate}}" formControlName='first_name'>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="ui search focus mt-20">
                  <div class="ui left icon input swdh11 swdh19">
                    <label>{{"Last Name"|translate}}</label>

                    <input class="prompt srch_explore" type="text" required maxlength="64"
                      placeholder="{{'Last Name' | translate}}" formControlName='last_name'>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Email"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="mohamed.ahmed@gmail.com" required="" maxlength="64" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Mobile"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="01110456444" required="" maxlength="11" placeholder="EX:01xxxxxxxxx">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Address"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="Giza" required="" maxlength="64" placeholder=" ">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Gender"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="Male" required="" maxlength="6" placeholder="Male/Female">
      </div>
    </div>
  </div>
</div> -->
              <button class="save_btn" type="submit" (click)="onSaveClick()">{{"Save Changes" | translate}}</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>