<!-- Body Start -->
<div class="wrapper _bg4586 _new89">		
    <div class="_215b15">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">						
                    <div class="title125">						
                        <div class="titleleft">					
                            <div class="ttl121">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">{{'Home' | translate}}</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{'Checkout' | translate}}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="title126">	
                        <h2>{{'Checkout' | translate}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb4d25">
        <div class="container">			
            <div class="row">
                <div class="col-lg-8">
                    <div class="membership_chk_bg">
                        <div class="checkout_title">
                            <h4>{{'Student Information' | translate}}</h4>
                            <img src="assets/images/line.svg" alt="">
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="address1">
                                    <div class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseaddress1" aria-expanded="false" aria-controls="collapseaddress1">
                                            {{'Edit Info'}}
                                        </a>
                                    </div>
                                </div>
                                <div id="collapseaddress1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="address1">
                                    <div class="panel-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>{{'First Name*' | translate}}</label>
                                                        <div class="ui left icon input swdh11 swdh19">
                                                            <input class="prompt srch_explore" type="text" name="name" value="Joginder" id="id_name" required="" maxlength="64" placeholder="First Name">															
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>{{'Last Name*' | translate}}</label>
                                                        <div class="ui left icon input swdh11 swdh19">
                                                            <input class="prompt srch_explore" type="text" name="surname" value="Singh" id="id_surname" required="" maxlength="64" placeholder="Last Name">															
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>{{'Email' | translate}}</label>
                                                        <div class="ui left icon input swdh11 swdh19">
                                                            <input class="prompt srch_explore" type="email" name="city" value="Ludhiana" id="id_email" required="" maxlength="64" placeholder="Email Address">															
                                                        </div>							
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>{{'Phone Number*' | translate}}</label>
                                                        <div class="ui left icon input swdh11 swdh19">
                                                            <input class="prompt srch_explore" type="text" name="phone" value="+91123456789" id="id_phone" required="" maxlength="12" placeholder="Phone Number">															
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <button class="save_address_btn" type="submit">{{'Save Changes' | translate}}</button>
                                                </div>												
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="address_text">
                            Israa Sayed<br>
                            IsraaSayed@gm.com<br>
                            0192848473839
                        </div>
                    </div>
                    <div class="membership_chk_bg">
                        <div class="chckout_order_dt">
                            <div class="checkout_title">
                                <h4>{{'Order Details' | translate}}</h4>
                                <img src="assets/images/line.svg" alt="">
                            </div>
                            <div class="order_dt_section">
                                <div class="order_title">
                                    <h4>Physics  <span>  / Chapter1 } </span></h4>
                                    <div class="order_price">49 {{'EGP' | translate}}</div>
                                </div>
                                <div class="order_title">
                                    <h4>sceince} <span>  / Chapter1 </span></h4>
                                    <div class="order_price">49  {{'EGP' | translate}}</div>
                                </div>
                                
                               
                                <button class="chckot_btn" type="submit">{{'Confirm Checkout' | translate}}</button>
                            </div>
                        </div>
                    </div>									
                </div>
                <div class="col-lg-4">
                    <div class="membership_chk_bg rght1528">
                            <div class="checkout_title">
                                <h4>Order Summary</h4>
                                <img src="assets/images/line.svg" alt="">
                            </div>
                            <div class="order_dt_section">
                                <div class="order_title">
                                    <h4>{{'Total Chapters' | translate}}</h4>
                                    <div class="order_price">4 </div>
                                </div>
                                <div class="order_title">
                                    <h2>{{'Total Cost' |  translate}}</h2>
                                    <div class="order_price5">200  {{ 'EGP'| translate}}</div>
                                </div>
                                <div class="scr_text"><i class="uil uil-lock-alt"></i>{{'Secure checkout' | translate}}</div>
                            </div>	
                        
                    </div>
                </div>								
            </div>				
        </div>
    </div>

</div>
<!-- Body End -->