<button type="button" class="close" (click)="decline()" aria-label="Close">
    <i class="uil uil-times"></i>
  </button>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step>
    <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step>
    <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step>
    <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae inventore rem temporibus nemo numquam debitis ipsa, quisquam illum officiis veniam reiciendis nobis odio dicta voluptas iusto earum atque nam labore?</p>
    </mat-step> <mat-step>
        3
    </mat-step> <mat-step>
        3
    </mat-step> <mat-step>
        3
    </mat-step> <mat-step>
        3
    </mat-step> <mat-step>
        3
    </mat-step> <mat-step>
        3
    </mat-step>
</mat-horizontal-stepper>