<div class="sa4d25 instructorPurchase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="st_title"><i class="uil uil-file-alt"></i>
          {{"Purchase History"|translate}}</h2>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="top_countries mt-30">
              <div class="top_countries_title">
                <h2>Earnings</h2>
              </div>
              <div class="statement_content">
                <p class="tt-body">Your sales earnings over the last 30 days</p>
                <div class="row">
                  <div class="col">
                    <p class="t-heading">My funds</p>
                    <p class="js-earnings__instructor-funds-wrapper">
                      <span class=""></span>
                      <span class="js-earnngs__instructor-funds t-currency">$289.64</span>
                    </p>

                  </div>
                  <div class="col">
                    <p class="t-heading">Earnings</p>
                    <p class="js-earnings__earnings-wrapper">
                      <span class="tt__earning">+</span>
                      <span class="js-earnings__earnings t-currency">$458.00</span>
                    </p>
                  </div>
                  <div class="col">
                    <p class="t-heading">Edututs+ Fees</p>
                    <p class="js-earnings__fees-wrapper">
                      <span class="tt__earning">-</span>
                      <span class="js-earnings__fees t-currency">$154.86</span>
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>

          <div class="row purchaseHistorySearch">

            <div class="col-sm-4 col-12">
              <div class="SearchBox">
                <input type="text" placeholder="{{'Date from' | translate}}" class="form-control" bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" formControlName="enrollment_request_date_from">
              </div>
            </div>

            <div class="col-sm-4 col-12">
              <div class="SearchBox">
                <input type="text" placeholder="{{'Date to' | translate}}" class="form-control" bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" formControlName="enrollment_request_date_to">
              </div>
            </div>

            <div class="formButtn col-12 col-sm-4">
              <button type="submit"  class="btn btn-primary">{{"Search"|translate}}</button>
            </div>

          </div>


          <div class="col-lg-12 col-md-12">
            <div class="table-responsive mt-30">
              <table class="table ucp-table earning__table" id="content-table">
                <thead class="thead-s">
                  <tr>
                    <th scope="col">{{"Date"|translate}}</th>
                    <th scope="col">{{"Request ID"|translate}}</th>
                    <th scope="col">{{"Course Name"|translate}}</th>
                    <th scope="col">{{"Chapter title"|translate}}</th>
                    <th scope="col">{{"Amount"|translate}}</th>
                    <th scope="col">{{"Student Name"|translate}}</th>
                    <th scope="col">{{"Mobile Number"|translate}}</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>
                  <tr>
                    <td>10 Sep 2020</td>
                    <td>25134</td>
                    <td>Arabic</td>
                    <td>chapter Title Here</td>
                    <td>200 EGP</td>
                    <td>Mahmoud Mohamed</td>
                    <td>01000487765</td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
