	<!-- Body Start -->
	<div class="wrapper">
		<div class="sa4d25">
			<div class="container-fluid">			
				<div class="row">
					<div class="col-lg-12">	
						<h2 class="st_title"><i class="uil uil-book-alt"></i>{{"Courses" | translate}}</h2>
					</div>				
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive mt-30">
							<table class="table ucp-table">
								<thead class="thead-s">
									<tr>
										<th class="text-center" scope="col">{{"Item No." | translate}}</th>
										<th>{{"Title" | translate}}</th>
										<th class="text-center" scope="col">{{"create Date" | translate}}</th>
										<!-- <th class="text-center" scope="col">Sales</th> -->
										<th class="text-center" scope="col">{{"chapters" | translate}}</th>
										<th class="text-center" scope="col">{{"level" | translate}}</th>
										<th class="text-center" scope="col">{{"language" | translate}}</th>
										<!-- <th class="text-center" scope="col">Category</th> -->
										<th class="text-center" scope="col">{{"Status" | translate}}</th>
										<th class="text-center" scope="col">{{"Action" | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let course of instructorCourses; let index = index">
										<td class="text-center">{{index + 1}}</td>
										<td>{{course.course_title}}</td>
										<td class="text-center">{{course.course_created_date | date : 'medium'}}</td>
										<!-- <td class="text-center">{{course.sales}}</td> -->
										<td class="text-center">{{course.chapter_count}}</td>
										<td class="text-center" *ngIf="course.level === 1">{{"1st" | translate}}</td>
										<td class="text-center" *ngIf="course.level === 2">{{"2nd" | translate}}</td>
										<td class="text-center" *ngIf="course.level === 3">{{"3rd" | translate}}</td>
										<td class="text-center" *ngIf="course.langauge === 1">{{"Arabic" | translate}}</td>
										<td class="text-center" *ngIf="course.langauge === 2">{{"English" | translate}}</td>
										<!-- <td class="text-center"><a href="#">{{course.category}}</a></td> -->
										<td *ngIf="course.course_status === 0" class="text-center"><b class="">{{"Draft" | translate}}</b></td>
										<td *ngIf="course.course_status === 1" class="text-center"><b class="">{{"Pending" | translate}}</b></td>
										<td *ngIf="course.course_status === 2" class="text-center"><b class="">{{"Approved" | translate}}</b></td>
										<td *ngIf="course.course_status === 3" class="text-center"><b class="">{{"Rejected" | translate}}</b></td>
										<td class="text-center">
											<a (click)="onEditClick(course)" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
											<a (click)="ocDeleteClick(course)" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
											<a (click)="ocViewCourseClick(course)" title="Delete" class="gray-s"><i class="uil uil-eye"></i></a>
										</td>
									</tr>
								
								</tbody>
							</table>
						</div>
						<ngx-loading [show]="loading"></ngx-loading>
						
					</div>
				</div>
			</div>
		</div>
	
		
		
	</div>
	<!-- Body End -->


<!-- 	
<ng-template #customLoadingTemplate>
	<div class="uploadingTemplate">
	  <h3>
		Loading...
	  </h3>
	  <h4>{{LoadingPercentage}} %</h4>
	</div>
  </ng-template> -->