<!-- <div class="wrapper"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">	
                <h2 class="st_title"><i class="uil uil-swatchbook"></i> {{"Add New Chapter" | translate}}</h2>
            </div>					
        </div>	
        <div class="step-tab-panel step-tab-location" id="tab_step3">
            <div class="tab-from-content">
                <form [formGroup]="chapterForm">
                    <div class="course__form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="view_info10">

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-danger" role="alert"
                                                *ngIf="showInfoErrors && chapterForm.invalid">
                                                <span *ngIf="chapterForm.get('course').invalid"> {{"*Please select a course" | translate}}</span><br>
                                                <span *ngIf="chapterForm.get('chapterTitle').invalid"> {{"*Please enter chapter Title" | translate}}</span><br>
                                                <span *ngIf="chapterForm.get('sort').invalid"> {{"*Please enter sort (1-100)" | translate}}</span><br>
                                                <span *ngIf="chapterForm.get('description').invalid"> {{"*Please enter description" | translate}}</span><br>
                                                <span *ngIf="chapterForm.get('price').invalid"> {{"*Please enter price" | translate}}</span><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>{{"Course*" | translate}}</label>
                                            </div>
                                            <select formControlName="course">
                                                <option disabled selected value="">{{"Select Course" | translate}}</option>
                                                <option *ngFor="let course of instructorCourses" value="{{course.course_id}}">{{course.course_title}}</option>
                                                
                                            </select>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>{{"Chapter Title*" | translate}}</label>
                                                <div class="ui left icon input swdh19">
                                                    <input formControlName="chapterTitle" class="prompt srch_explore"
                                                        type="text" placeholder="{{'Insert your Chapter title.' | translate}}"
                                                        name="title" data-purpose="edit-course-title" maxlength="120"
                                                        id="lecture[title]" value="">
                                                    <div class="badge_num2">
                                                        {{ 120 - chapterForm.get('chapterTitle')?.value?.length}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>{{"Sort" | translate}}</label>
                                                <div class="ui left icon input swdh19">
                                                    <input formControlName="sort" class="prompt srch_explore"
                                                        type="number" name="sort" min="0" max="100" placeholder="0">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>{{"Chapter Description*" | translate}}</label>
                                                <div class="course_des_bg">
                                                    <div class="textarea_dt">
                                                        <div class="ui form swdh339">
                                                            <div class="field">
                                                                <textarea maxlength="500" formControlName="description" rows="5"
                                                                    name="description" id="id_part_description"
                                                                    placeholder="{{'Insert your course part description' | translate}}"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label><i class="uil uil-dollar-sign-alt"></i>{{" Price" | translate}}</label>
                                                <div class="ui left icon input swdh19">
                                                    <input formControlName="price" class="prompt srch_explore"
                                                        type="number" name="sort" min="0" max="100" placeholder="0">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <button (click)="onSaveChapterClick()" class="part_btn_save prt-sv">
                                               {{editMode? 'Save Chapter' : 'Create Chapter'}}</button>
                                               <button *ngIf="editMode" (click)="onCancelEditChapterClick()" class="part_btn_save prt-sv">
                                                {{"cancel edit" | translate}}</button>
                                            <button (click)="getChaptersByInstructor()" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#chapter" aria-expanded="false" aria-controls="chapter">
                                                {{"View Saved Chapters" | translate}}
                                            </button>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="accordion mt-3" id="saved-chapter">
                                                <div id="chapter" class="collapse" aria-labelledby="headingTwo"
                                                    data-parent="#saved-chapter">
                                                    <div class="table-responsive ">
                                                        <table class="table ucp-table">
                                                            <thead class="thead-s">
                                                                <tr>
                                                                    <th class="text-center" scope="col">{{"Chapters" | translate}}
                                                                    </th>
                                                                    <th class="cell-ta">{{"Title" | translate}}</th>
                                                                    <th class="cell-ta">{{"Course" | translate}}</th>
                                                                    <th class="cell-ta">{{"lectures" | translate}}</th>
                                                                    <th class="cell-ta">{{"sort" | translate}}</th>
                                                                    <th class="cell-ta">{{"count" | translate}}</th>
                                                                    <th class="cell-ta">{{"fee" | translate}}</th>
                                                                    <!-- <th class="text-center" scope="col">videos
                                                                    </th> -->
                                                                    <!-- <th class="text-center" scope="col">File
                                                                    </th> -->
                                                                    <th class="text-center" scope="col">{{"Controls" | translate}}
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let chapter of chapters; let index = index">
                                                                    <td class="text-center">{{index + 1}}</td>
                                                                    <td class="cell-ta">{{chapter.chapter_title}}</td>

                                                                    <td class="cell-ta">{{chapter.course_title}}</td>
                                                                    <td class="cell-ta">{{chapter.chapter_num_of_video}}</td>
                                                                    <td class="cell-ta">{{chapter.chapter_sort_number}}</td>
                                                                    <td class="cell-ta">{{chapter.content_count}}</td>
                                                                    <td class="cell-ta">{{chapter.chapter_fee}}</td>
                                                                    <!-- <td class="text-center">{{chapter.num_of_video || 'null'}}</td> -->
                                                                    <!-- <td class="text-center">0</td> -->
                                                                    <td class="text-center">
                                                                        <a (click)="onEditChapterClick(chapter)" title="Edit" class="gray-s"><i
                                                                                class="uil uil-edit-alt"></i></a>
                                                                        <a (click)="onDeleteChapterClick(chapter)" title="Delete" class="gray-s"><i
                                                                                class="uil uil-trash-alt"></i></a>
                                                                    </td>
                                                                </tr>
                                                              
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <ngx-loading [show]="loading"></ngx-loading>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- </div> -->