<!-- <div class="wrapper"> -->
  <div class="modal-body edit-user">
    <!-- <div class="container"> -->

    <div class="row first">
        <div class="col-lg-12">
            <button type="button" class="close" (click)="decline()" aria-label="Close">
                <i class="uil uil-times"></i>
            </button>
            <h2 class="st_title"><i class="uil uil-plus-circle"></i> {{"Edit Data Of User "| translate}} :

            {{"StudentName"|translate}}
            </h2>
        </div>
        <form class="course__form">
          <div class="general_info10">
          <div class="row">
            <div class="col-lg-6 col-md-6">
            <div class="ui search focus mt-30 lbel25">
              <label>{{"Email"|translate}}</label>
              <div class="ui left icon input swdh19">

              <input maxlength="120" type="text" class="prompt srch_explore ng-untouched ng-pristine ng-valid form-control" placeholder="Email">
              <div class="badge_num2">
                {{ 120}} </div>
        </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">

            <div class="ui search focus mt-30 lbel25">
              <label>{{"Mobile Number"|translate}}</label>
              <div class="ui left icon input swdh19">

              <input maxlength="120" type="text" class=" prompt srch_explore ng-untouched ng-pristine ng-valid form-control" placeholder="Mobile">
              <div class="badge_num2">
                {{ 120}} </div>
        </div>
            </div>
            </div>
            </div>
          </div>
          <div class="buttn">
<button class="btn btn-default steps_btn">{{"Update"|translate}}</button>
          </div>
          </form>
      </div>
      </div>


