<div class="sa4d25 profilePage">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-12">

        <h2 class="st_title"><i class="icon-pencil2"></i> {{"Personal information"|translate}}</h2>
        <!-- <div class="info">
          <img src="assets/images/hd_dp.jpg" alt="">
          <p>Moahmed Ahemed</p>
        </div> -->
        <div class="row">
          <div class="col-md-8">
<div class="row">
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"First Name"|translate}}</label>
        <input class="prompt srch_explore" type="text" value="Ahmed" required="" maxlength="64" placeholder="First Name">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Last Name"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="Mohamed" required="" maxlength="64" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Email"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="mohamed.ahmed@gmail.com" required="" maxlength="64" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Mobile"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="01110456444" required="" maxlength="11" placeholder="EX:01xxxxxxxxx">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Address"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="Giza" required="" maxlength="64" placeholder=" ">
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="ui search focus mt-20">
      <div class="ui left icon input swdh11 swdh19">
        <label>{{"Gender"|translate}}</label>

        <input class="prompt srch_explore" type="text" value="Male" required="" maxlength="6" placeholder="Male/Female">
      </div>
    </div>
  </div>
</div>
<button class="save_btn" type="submit">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

