<!-- Video Model Start -->
<div class="modal vd_mdl fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <iframe [src]=" course?.promotional_video_path | saveUrl " width="640" height="360" frameborder="0"
                    allowfullscreen allow="autoplay; encrypted-media"></iframe>
            </div>

        </div>
    </div>
</div>
<!-- Video Model End -->
<!-- Body Start -->
<!-- <div class="wrapper _bg4586"> -->
<div class="_215b01">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section3125">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-5 col-md-6">
                            <div class="preview_video">
                                <a class="fcrse_img" data-toggle="modal" data-target="#videoModal">
                                    <img src="{{ course?.cover_image_path || 'assets/images/courses/img-14.jpg'}}"
                                        alt="">
                                    <div class="course-overlay">
                                        <span class="play_btn1"><i class="uil uil-play"></i></span>
                                        <span class="_215b02">{{'Preview this course' | translate}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-6">
                            <div class="_215b03">
                                <h2>{{course?.course_title}}</h2>
                                <span class="_215b04">{{course?.course_description}} </span>

                            </div>
                            <div class="_215b06">
                                <div class="_215b07">
                                    <a class="crse-cate" *ngIf="course.level === '1'">{{"1st" | translate}}</a>
                                    <a class="crse-cate" *ngIf="course.level === '2'">{{"2nd" | translate}}</a>
                                    <a class="crse-cate" *ngIf="course.level === '3'">{{"3rd" | translate}}</a>
                                </div>
                            </div>
                            <div class="_215b05">
                                {{'Last updated ' | translate}} {{course?.lastModifiedDate | date }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_215b15 _byt1458">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="user_dt5">
                    <div class="user_dt_left">
                        <div class="live_user_dt">
                            <div class="user_img5">
                                <a><img src="assets/images/left-imgs/img-1.jpg" alt=""></a>
                            </div>
                            <div class="user_cntnt">
                                <a class="_df7852">{{course?.createdBy}}</a>
                                <!-- <button class="subscribe-btn">{{'Subscribe' | translate}}</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="course_tabs">
                    <nav>
                        <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                role="tab" aria-selected="true">{{'About' | translate}}</a>
                            <a (click)="onCourseContentClick()" class="nav-item nav-link" id="nav-courses-tab"
                                data-toggle="tab" href="#nav-courses" role="tab"
                                aria-selected="false">{{'Courses Content' | translate}}</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_215b17">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="course_tab_content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                            <div class="_htg451">
                                <div class="_htg452 mt-35">
                                    <h3>{{'Description' | translate}}</h3>
                                    <p>{{course?.course_description}}</p>

                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                            <div class="crse_content">
                                <h3>{{'Course content' | translate}}</h3>
                                <div class="_112456">
                                    <!-- <ul class="accordion-expand-holder">
                                            <li><span class="_fgr123">402 {{'lectures' | translate}}</span></li>
                                            <li><span class="_fgr123">'47:06:29'</span></li>
                                        </ul> -->
                                </div>
                                <div class="tabs">

                                    <div *ngFor="let chapter of chapters" class="tab">
                                        <input type="checkbox" class="tab-input" id="{{chapter.id}}">
                                        <label class="tab-label" for="{{chapter.id}}">
                                            <button *ngIf="!checkChapterOnCart(chapter) && chapter.status === 0"
                                                (click)="cart.addToCart(chapter)" class="btn_adcart"><i
                                                    class="uil uil-shopping-cart-alt"></i>{{'Add to Cart' | translate}}</button>
                                            <button *ngIf="chapter.status === 1"
                                                class="btn_adcart" style="background-color : blue">{{'Pending' | translate}}</button>
                                            <button *ngIf="chapter.status === 2"
                                                class="btn_adcart" style="background-color :green">{{'Enrolled' | translate}}</button>
                                            <span class="title">
                                                <i class='uil uil-presentation-play crse_icon'></i>
                                                <b>{{chapter.chapter_title}}</b>
                                            </span>
                                            <!-- <span>{{chapter.chapter_num_of_video}} {{'lectures' | translate}}</span> -->
                                            <span>{{chapter.chapter_fee}} {{'LE' | translate}}</span>

                                        </label>

                                        <!-- <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                                <div class="lecture-container">
                                                    <div class="left-content">
                                                        <i class="uil uil-file icon_142"></i>
                                                        <div class="top">
                                                            <div class="title">A Note On Asking For Help</div>
                                                        </div>
                                                    </div>
                                                    <div class="details">
                                                        <span class="content-summary">00:12</span>
                                                    </div>
                                                </div>
                                                <div class="lecture-container">
                                                    <div class="left-content">
                                                        <i class="uil uil-file icon_142"></i>
                                                        <div class="top">
                                                            <div class="title">Introducing Our TA</div>
                                                        </div>
                                                    </div>
                                                    <div class="details">
                                                        <span class="content-summary">01:42</span>
                                                    </div>
                                                </div>
                                                <div class="lecture-container">
                                                    <div class="left-content">
                                                        <i class="uil uil-play-circle icon_142"></i>
                                                        <div class="top">
                                                            <div class="title">Lecture Slides</div>
                                                        </div>
                                                    </div>
                                                    <div class="details">
                                                        <span class="content-summary">00:11</span>
                                                    </div>
                                                </div>
                                            </div> -->

                                    </div>

                                </div>
                                <!-- <a class="btn1458" >20 More Sections</a> -->
                            </div>
                        </div>
                        <ngx-loading [show]="loading"></ngx-loading>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- </div> -->
<!-- Body End -->