<div class="back_link float-btn ">
    <a (click)="back()" class="hde151">Back</a>
</div>
<!-- Header Start -->
<input type="checkbox" id="sidekickToggle">
<label class="sidekick-toggle collapse_menu chapterListToggle" for="sidekickToggle">
    <i class="uil uil-angle-right collapse_menu--icon "></i>
    <span class="collapse_menu--label"></span>
</label>
<!-- Left Sidebar Start -->
<nav class="vertical_nav chapter-list">
    <div class="left_section menu_left" id="js-menu" >
        <h4 class=header>table of content <span class="right">2h :20m</span></h4>
        <div class="left_section">
            <ul>
                <li class="menu--item  menu--item__has_sub_menu">
                    <input type="checkbox" id="chapter1" class="menu-collapse collapse">
                    <label class="menu--link collapse-title" for="chapter1">
                        Chapter 1 
                        <span>Chapter Name Chapter Name Chapter Name</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <input type="checkbox" id="chapter2" class="menu-collapse collapse">
                    <label class="menu--link collapse-title" for="chapter2">
                        Chapter 2
                        <span>Chapter Name Chapter Name Chapter Name</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                    </ul>
                </li>
                <li class="menu--item  menu--item__has_sub_menu">
                    <input type="checkbox" id="chapter3" class="menu-collapse collapse">
                    <label class="menu--link collapse-title" for="chapter3">
                        Chapter 3 
                        <span>Chapter Name Chapter Name Chapter Name</span>
                    </label>
                    <ul class="sub_menu">
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                        <li class="sub_menu--item">
                            <a href="certification_center.html" class="sub_menu--link">Etiam eu nibh vehicula, rhoncus lectus eget, gravida elit. <span>4h 30m</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper pt-0 course-content">
        <div class="row">
            <div class="col-lg-12">	
                <div class="video-player-container">
                    <video width="100%" controls>
                        <source src="mov_bbb.mp4" type="video/mp4">
                        <source src="mov_bbb.ogg" type="video/ogg">
                        Your browser does not support HTML video.
                        </video>
                </div>	
        </div>
        <div class="container-fluid">
            <div class="grp_titles">
                <h2 class="">Integer rutrum elit eget purus pulvinar finibus.</h2>
                <span>Unit 2 — Lesson 4</span>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>Aliquam imperdiet faucibus mauris sed finibus. Nam rhoncus laoreet rutrum. Mauris pharetra laoreet pulvinar. Morbi quis sagittis libero, nec pharetra dui. Mauris mattis aliquam malesuada. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Nulla facilisi. Curabitur in molestie lectus, bibendum molestie elit. Morbi porttitor posuere nunc eget gravida. Ut odio risus, congue sed dolor vitae, blandit maximus augue. Suspendisse facilisis laoreet
                    odio sodales maximus. Donec posuere vel nulla vel dapibus. Etiam blandit et nunc quis ultrices.</p>
                    <h5>Vivamus et neque aliquam, sodales turpis vitae, rutrum quam.</h5>
                    <p>Quisque at malesuada enim, non elementum sem. Duis a finibus nulla. Aenean non vulputate tortor. Nam vitae eros erat. Integer egestas tempus leo ut ornare. Nam at malesuada urna. Sed felis neque, commodo sit amet magna quis, varius dictum
                        velit. Integer sit amet est mi. Vestibulum vitae ante porta, pharetra arcu sit amet, accumsan nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut nibh felis, porta et ultrices vel, tincidunt a
                        tortor. Pellentesque suscipit, sem id luctus scelerisque, risus lacus lacinia risus, ac dapibus neque tortor eu ante. Curabitur accumsan sem nibh, vel feugiat ante pellentesque in. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Cras dictum in turpis eu suscipit. Duis eu fringilla risus, et gravida ipsum.</p>
                    <ul>
                        <li>Etiam in dolor quis neque interdum hendrerit non non ex.</li>
                        <li>Maecenas ac erat aliquam urna semper consectetur.</li>
                        <li>Morbi quis nisl sit amet lectus feugiat placerat.</li>
                        <li>In sed arcu eu mi efficitur mattis ut non nulla.</li>
                    </ul>
                    <p>Aliquam imperdiet faucibus mauris sed finibus. Nam rhoncus laoreet rutrum. Mauris pharetra laoreet pulvinar. Morbi quis sagittis libero, nec pharetra dui. Mauris mattis aliquam malesuada. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Nulla facilisi. Curabitur in molestie lectus, bibendum molestie elit. Morbi porttitor posuere nunc eget gravida. Ut odio risus, congue sed dolor vitae, blandit maximus augue. Suspendisse facilisis laoreet
                        odio sodales maximus. Donec posuere vel nulla vel dapibus. Etiam blandit et nunc quis ultrices.</p>
                    <h5>Vivamus et neque aliquam, sodales turpis vitae, rutrum quam.</h5>
                    <p>Quisque at malesuada enim, non elementum sem. Duis a finibus nulla. Aenean non vulputate tortor. Nam vitae eros erat. Integer egestas tempus leo ut ornare. Nam at malesuada urna. Sed felis neque, commodo sit amet magna quis, varius dictum
                        velit. Integer sit amet est mi. Vestibulum vitae ante porta, pharetra arcu sit amet, accumsan nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut nibh felis, porta et ultrices vel, tincidunt a
                        tortor. Pellentesque suscipit, sem id luctus scelerisque, risus lacus lacinia risus, ac dapibus neque tortor eu ante. Curabitur accumsan sem nibh, vel feugiat ante pellentesque in. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Cras dictum in turpis eu suscipit. Duis eu fringilla risus, et gravida ipsum.</p>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="section3125">
                        <h4 class="item_title">Attached files</h4>
                        <div class="la5lo1">	
                            <div class="fcrse_1">
                                <div class="fcrse_content">
                                    <a href="#" class="new_links10">Cras-justo-odio.pdf</a>
                                    <a href="#" class="new_links10">Cras-justo-odio.pdf</a>
                                    <a href="#" class="new_links10">Cras-justo-odio.pdf</a>
                                </div>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <footer class="footer mt-40">
        <div class="container-fluid">
            <div class="row">					
                <div class="col-lg-12">
                    <div class="item_f1">
                        <a href="terms_of_use.html">Copyright Policy</a>
                        <a href="terms_of_use.html">Terms</a>
                        <a href="terms_of_use.html">Privacy Policy</a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="footer_bottm">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="fotb_left">
                                    <li>
                                        <p>© 2020 <strong>Smart Academy</strong>. All Rights Reserved.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="edu_social_links">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Body End -->