<div class="back_link float-btn ">
    <a (click)="back()" class="hde151">{{"Back" | translate}}</a>
</div>
<!-- Header Start -->
<!-- <input type="checkbox" id="sidekickToggle">
<label class="sidekick-toggle collapse_menu chapterListToggle" for="sidekickToggle">
    <i class="uil uil-angle-right collapse_menu--icon "></i>
    <span class="collapse_menu--label"></span>
</label> -->
<button (click)="collapse()" id="collapse_menu" class="collapse_menu chapterListToggle minify">
    <i class="uil uil-angle-right collapse_menu--icon "></i>
    <span class="collapse_menu--label"></span>
</button>
<!-- Left Sidebar Start -->
<nav class="vertical_nav chapter-list vertical_nav__minify">
    <div class="left_section menu_left" id="js-menu">
        <h4 class=header>{{"Table of content" | translate}}<a class="right"><i [routerLink]="['/user/dashboard']"
                    routerLinkActive="router-link-active" class="uil uil-home-alt"></i></a></h4>
        <div class="left_section">
            <ul>
                <li *ngFor="let chapter of chaptersArray; let index = index"
                    class="menu--item  menu--item__has_sub_menu">
                    <input type="checkbox" id="{{chapter.studentEnrolledChapter.chapter_Id}}"
                        class="menu-collapse collapse">
                    <label class="menu--link collapse-title" for="{{chapter.studentEnrolledChapter.chapter_Id}}">
                        {{"Chapter" | translate}} {{index +1 }}
                        <span> {{chapter.studentEnrolledChapter.chapter_title}}
                        </span>
                    </label>
                    <ul class="sub_menu">
                        <li *ngFor="let lecture of chapter.studentEnrolledContent"
                            (click)="onLectureClick(chapter.studentEnrolledChapter.chapter_title,chapter.studentEnrolledChapter.course_title,lecture.content_title,lecture.content_description,lecture.content_Id)"
                            class="sub_menu--item">
                            <a class="sub_menu--link">{{lecture.content_title}}<span>{{lecture.content_time_required_in_sec / 60}}{{"m" | translate}}</span> <p class="lock"></p></a>
                            <!-- <p class="lock"></p>
                            <p class="unlock"></p> -->
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
</nav>
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper pt-0 course-content wrapper__minify">
    <div class="row">
        <div class="col-lg-12">
            <div class="video-player-container">
                <video [hidden]="showPlayer" width="100%" controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
                <div class="vimeoContainer" [hidden]="!showPlayer" id="lectureContainer"></div>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-12 col-lg-11">
                    <div class="grp_titles">
                        <h2 class="">{{chapterName}}</h2>
                        <span>{{courseName}} {{lectureName}} </span>
                    </div>
                    <p [innerHTML]="lectureDesc | linkify">
                    </p>

                </div>

            </div>
        </div>

    </div>
    <app-user-footer></app-user-footer>

</div>
<!-- Body End -->
