<div class="sa4d25">
    <div class="container-fluid">			
        <div class="row">
            <div class="col-lg-12">	
                <h2 class="st_title"><i class="uil uil-apps"></i> {{'Student Dashboard' | translate}}</h2>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="card_dash">
                    <div class="card_dash_left">
                        <h5>{{'Active Courses' | translate }}</h5>
                        <h2>15</h2>
                    </div>
                    <div class="card_dash_right">
                        <img src="assets/images/dashboard/active-course.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="card_dash">
                    <div class="card_dash_left">
                        <h5>{{ 'Pending Courses' | translate}}</h5>
                        <h2>45</h2>
                    </div>
                    <div class="card_dash_right">
                        <img src="assets/images/dashboard/pending.svg" alt="">
                    </div>
                </div>
            </div>				
        </div>
        <div class="section3125 mt-30">
					
            <div class="row">
                <div class="col-12">
                    <h4 class="item_title">{{'Newest Courses' | translate}}</h4>
                    <a href="#" class="see150">{{'See all' | translate}}</a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                            <img src="assets/images/courses/img-14.jpg" alt="">
                            <div class="course-overlay">
                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                <div class="crse_timer">
                                   12 {{ 'hours' | translate}}
                                </div>
                            </div>
                        </a>
                        <div class="fcrse_content">
                            <a href="course_detail_view.html" class="crse14s">Build Responsive Real World Websites with HTML5 and CSS3 </a>
                            <a href="#" class="crse-cate">English</a>
                            <div class="auth1lnkprce">
                                <p class="cr1fot">{{'By' | translate}} <a href="#">John Doe </a></p>
                                <div class="prce142">$4 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                            <img src="assets/images/courses/img-14.jpg" alt="">
                            <div class="course-overlay">
                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                <div class="crse_timer">
                                   12 {{ 'hours' | translate}}
                                </div>
                            </div>
                        </a>
                        <div class="fcrse_content">
                            <a href="course_detail_view.html" class="crse14s">Build Responsive Real World Websites with HTML5 and CSS3 </a>
                            <a href="#" class="crse-cate">English</a>
                            <div class="auth1lnkprce">
                                <p class="cr1fot">{{'By' | translate}} <a href="#">John Doe </a></p>
                                <div class="prce142">$4 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                            <img src="assets/images/courses/img-14.jpg" alt="">
                            <div class="course-overlay">
                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                <div class="crse_timer">
                                   12 {{ 'hours' | translate}}
                                </div>
                            </div>
                        </a>
                        <div class="fcrse_content">
                            <a href="course_detail_view.html" class="crse14s">Build Responsive Real World Websites with HTML5 and CSS3 </a>
                            <a href="#" class="crse-cate">English</a>
                            <div class="auth1lnkprce">
                                <p class="cr1fot">{{'By' | translate}} <a href="#">John Doe </a></p>
                                <div class="prce142">$4 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <h4 class="item_title">{{'Another Courses' | translate}}</h4>
                    <a href="#" class="see150">{{'See all' | translate}}</a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                            <img src="assets/images/courses/img-14.jpg" alt="">
                            <div class="course-overlay">
                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                <div class="crse_timer">
                                   12 {{ 'hours' | translate}}
                                </div>
                            </div>
                        </a>
                        <div class="fcrse_content">
                            <a href="course_detail_view.html" class="crse14s">Build Responsive Real World Websites with HTML5 and CSS3 </a>
                            <a href="#" class="crse-cate">English</a>
                            <div class="auth1lnkprce">
                                <p class="cr1fot">{{'By' | translate}} <a href="#">John Doe </a></p>
                                <div class="prce142">$4 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                            <img src="assets/images/courses/img-14.jpg" alt="">
                            <div class="course-overlay">
                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                <div class="crse_timer">
                                   12 {{ 'hours' | translate}}
                                </div>
                            </div>
                        </a>
                        <div class="fcrse_content">
                            <a href="course_detail_view.html" class="crse14s">Build Responsive Real World Websites with HTML5 and CSS3 </a>
                            <a href="#" class="crse-cate">English</a>
                            <div class="auth1lnkprce">
                                <p class="cr1fot">{{'By' | translate}} <a href="#">John Doe </a></p>
                                <div class="prce142">$4 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="fcrse_1 mb-20">
                        <a href="course_detail_view.html" class="fcrse_img">
                            <img src="assets/images/courses/img-14.jpg" alt="">
                            <div class="course-overlay">
                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                <div class="crse_timer">
                                   12 {{ 'hours' | translate}}
                                </div>
                            </div>
                        </a>
                        <div class="fcrse_content">
                            <a href="course_detail_view.html" class="crse14s">Build Responsive Real World Websites with HTML5 and CSS3 </a>
                            <a href="#" class="crse-cate">English</a>
                            <div class="auth1lnkprce">
                                <p class="cr1fot">{{'By' | translate}} <a href="#">John Doe </a></p>
                                <div class="prce142">$4 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>